name: runtime-tests

services:
  runtime-mongo:
    image: mongo@sha256:6f55a078e025aa29fea2826c82f67ff2f774b82efd816c4c30bbfe67904f0bb8
    container_name: runtime-mongo
    ports:
      - "27021:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  runtime-postgres:
    image: ghcr.io/ferretdb/postgres-documentdb:17@sha256:2386795ec2aa7ae559304361979f1dc5708d383ee9020ae63dadc2940dfe58f7
    container_name: runtime-postgres
    hostname: postgres
    # documentdb does currently not support arm64
    platform: linux/amd64
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: example
      POSTGRES_DB: postgres

  runtime-ferret:
    image: ghcr.io/ferretdb/ferretdb:2@sha256:5706414241eb84f0515512c37b46db0f1b1eac9e5ceb7e4c2523211c184b1985
    container_name: runtime-ferretdb
    ports:
      - "27022:27017"
    environment:
      FERRETDB_POSTGRESQL_URL: postgres://root:example@postgres:5432/postgres
    depends_on:
      - runtime-postgres
