name: Publish

on:
  push:
    tags:
      - "*"

jobs:
  run-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: bash .ci/runChecks.sh

  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: current
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - run: npm run build:ci --workspaces
        env:
          BUILD_NUMBER: ${{ github.run_number }}
          COMMIT_HASH: ${{ github.sha }}
          VERSION: ${{ github.ref_name }}
      - run: bash .ci/publishNpm.sh
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          VERSION: ${{ github.ref_name }}
    needs: ["run-checks"]
