name: Test

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  run-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: bash .ci/runChecks.sh

  test-app-runtime:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Start Backbone
        run: npm run start:backbone
      - uses: actions/setup-node@v6
        with:
          node-version: current
      - run: npm ci
      - run: npm run build:node
      - run: npm run test:ci --workspace=@nmshd/app-runtime
        env:
          NMSHD_TEST_BASEURL: http://localhost:8090
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test
          NMSHD_TEST_BASEURL_SSE_SERVER: http://localhost:8092
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        env:
          fail_ci_if_error: true
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  test-consumption-mongodb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Start Backbone
        run: npm run start:backbone
      - uses: actions/setup-node@v6
        with:
          node-version: current
      - run: npm ci
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@v1
      - run: npm run build:node
      - run: npm run test:ci:mongodb --workspace=@nmshd/consumption
        env:
          CONNECTION_STRING: mongodb://127.0.0.1:27017
          NMSHD_TEST_BASEURL: http://localhost:8090
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test

  test-consumption-loki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Start Backbone
        run: npm run start:backbone
      - uses: actions/setup-node@v6
        with:
          node-version: current
      - run: npm ci
      - run: npm run build:node
      - run: npm run test:ci:lokijs --workspace=@nmshd/consumption
        env:
          NMSHD_TEST_BASEURL: http://localhost:8090
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        env:
          fail_ci_if_error: true
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  test-content:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: current
      - run: npm ci
      - run: npm run build:node
      - run: npm run test:ci --workspace=@nmshd/content
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        env:
          fail_ci_if_error: true
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  test-core-types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: current
      - run: npm ci
      - run: npm run build:node
      - run: npm run test:ci --workspace=@nmshd/core-types
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        env:
          fail_ci_if_error: true
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  test-runtime-mongodb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Start Backbone
        run: npm run start:backbone
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: tnotheis
          password: ${{ secrets.GHCR_PAT_FOR_OID4VC_SERVICE_PULL }}
      - name: Start OpenID4VC Service
        run: npm run start:openid4vc
      - uses: actions/setup-node@v6
        with:
          node-version: current
      - uses: supercharge/mongodb-github-action@v1
      - run: npm ci
      - run: npm run build:node
      - run: npm run build:schemas --workspace=@nmshd/runtime
      - run: npm run test:ci:mongodb --workspace=@nmshd/runtime openid4vc
        env:
          CONNECTION_STRING: mongodb://127.0.0.1:27017
          NMSHD_TEST_BASEURL: http://localhost:8090
          NMSHD_TEST_BASEURL_ADMIN_API: http://localhost:8091
          NMSHD_TEST_ADMIN_API_KEY: test
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test
          OPENID4VC_SERVICE_BASEURL: http://127.0.0.1:9000

  test-runtime-loki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Start Backbone
        run: npm run start:backbone
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: tnotheis
          password: ${{ secrets.GHCR_PAT_FOR_OID4VC_SERVICE_PULL }}
      - name: Start OpenID4VC Service
        run: npm run start:openid4vc
      - uses: actions/setup-node@v6
        with:
          node-version: current
      - run: npm ci
      - run: npm run build:node
      - run: npm run build:schemas --workspace=@nmshd/runtime
      - run: npm run test:ci:lokijs --workspace=@nmshd/runtime openid4vc
        env:
          CONNECTION_STRING: mongodb://127.0.0.1:27017
          NMSHD_TEST_BASEURL: http://localhost:8090
          NMSHD_TEST_BASEURL_ADMIN_API: http://localhost:8091
          NMSHD_TEST_ADMIN_API_KEY: test
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test
          OPENID4VC_SERVICE_BASEURL: http://127.0.0.1:9000
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        env:
          fail_ci_if_error: true
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  test-transport-mongodb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Start Backbone
        run: npm run start:backbone
      - uses: actions/setup-node@v6
        with:
          node-version: current
      - run: npm ci
      - run: npm run build:node
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@v1
      - run: npm run test:ci:mongodb --workspace=@nmshd/transport
        env:
          CONNECTION_STRING: mongodb://127.0.0.1:27017
          NMSHD_TEST_BASEURL: http://localhost:8090
          NMSHD_TEST_BASEURL_ADMIN_API: http://localhost:8091
          NMSHD_TEST_ADMIN_API_KEY: test
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test

  test-transport-loki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Start Backbone
        run: npm run start:backbone
      - uses: actions/setup-node@v6
        with:
          node-version: current
      - run: npm ci
      - run: npm run build:node
      - run: npm run test:ci:lokijs --workspace=@nmshd/transport
        env:
          NMSHD_TEST_BASEURL: http://localhost:8090
          NMSHD_TEST_BASEURL_ADMIN_API: http://localhost:8091
          NMSHD_TEST_ADMIN_API_KEY: test
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        env:
          fail_ci_if_error: true
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
