name: Test

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  test-runtime-loki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Start Backbone
        run: npm run start:backbone
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: tnotheis
          password: ${{ secrets.GHCR_PAT_FOR_OID4VC_SERVICE_PULL }}
      - uses: actions/setup-node@v6
        with:
          node-version: current
      - run: npm ci
      - run: npm run build:node
      - run: npm run build:schemas --workspace=@nmshd/runtime
      - run: npm run test:ci:lokijs --workspace=@nmshd/runtime openid4vc.test.ts
        env:
          NMSHD_TEST_BASEURL: http://localhost:8090
          NMSHD_TEST_BASEURL_ADMIN_API: http://localhost:8091
          NMSHD_TEST_ADMIN_API_KEY: test
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        env:
          fail_ci_if_error: true
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
