name: Test

on:
  push:
    branches-ignore: [main, release/**]

jobs:
  run-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: bash .ci/runChecks.sh

  test-app-runtime:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Start Backbone
        uses: nmshd/start-backbone@latest
        with:
          consumerapi-version: v4.2.6
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: npm ci
      - run: npm run build:node --workspaces
      - run: npm run test:ci --workspace=@nmshd/app-runtime
        env:
          NMSHD_TEST_BASEURL: http://localhost:5000
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test

  test-consumption-mongodb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Start Backbone
        uses: nmshd/start-backbone@latest
        with:
          consumerapi-version: v4.2.6
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: npm ci
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.6.0
      - run: npm run build:node --workspaces
      - run: npm run test:ci:mongodb --workspace=@nmshd/consumption
        env:
          CONNECTION_STRING: mongodb://127.0.0.1:27017
          NMSHD_TEST_BASEURL: http://localhost:5000
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test

  test-consumption-ferret:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Start Backbone
        uses: nmshd/start-backbone@latest
        with:
          consumerapi-version: v4.2.6
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: npm ci
      - uses: js-soft/ferretdb-github-action@1.1.0
        with:
          ferretdb-telemetry: "enabled"
      - run: npm run build:node --workspaces
      - run: npm run test:ci:mongodb --workspace=@nmshd/consumption
        env:
          CONNECTION_STRING: mongodb://127.0.0.1:27017
          NMSHD_TEST_BASEURL: http://localhost:5000
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test

  test-consumption-loki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Start Backbone
        uses: nmshd/start-backbone@latest
        with:
          consumerapi-version: v4.2.6
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: npm ci
      - run: npm run build:node --workspaces
      - run: npm run test:ci:lokijs --workspace=@nmshd/consumption
        env:
          NMSHD_TEST_BASEURL: http://localhost:5000
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test

  test-content:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - uses: browser-actions/setup-chrome@latest
      - run: npm ci
        env:
          BUILD_NUMBER: ${{ github.run_number }}
          COMMIT_HASH: ${{ github.sha }}
      - run: npm run build:node --workspaces
      - run: npm run test:ci --workspace=@nmshd/content

  test-runtime-mongodb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Start Backbone
        uses: nmshd/start-backbone@latest
        with:
          consumerapi-version: v4.2.6
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - uses: supercharge/mongodb-github-action@v1.9.0
      - run: npm ci
      - run: npm run build:node --workspaces
      - run: npm run build:schemas --workspace=@nmshd/runtime
      - run: npm run test:ci:mongodb --workspace=@nmshd/runtime
        env:
          CONNECTION_STRING: mongodb://127.0.0.1:27017
          NMSHD_TEST_BASEURL: http://localhost:5000
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test

  test-runtime-ferret:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Start Backbone
        uses: nmshd/start-backbone@latest
        with:
          consumerapi-version: v4.2.6
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - uses: js-soft/ferretdb-github-action@1.1.0
        with:
          ferretdb-telemetry: "enabled"
          ferretdb-version: latest
      - run: npm ci
      - run: npm run build:node --workspaces
      - run: npm run build:schemas --workspace=@nmshd/runtime
      - run: npm run test:ci:mongodb --workspace=@nmshd/runtime
        env:
          CONNECTION_STRING: mongodb://127.0.0.1:27017
          NMSHD_TEST_BASEURL: http://localhost:5000
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test

  test-runtime-loki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Start Backbone
        uses: nmshd/start-backbone@latest
        with:
          consumerapi-version: v4.2.6
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: npm ci
      - run: npm run build:node --workspaces
      - run: npm run build:schemas --workspace=@nmshd/runtime
      - run: npm run test:ci:lokijs --workspace=@nmshd/runtime
        env:
          NMSHD_TEST_BASEURL: http://localhost:5000
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test

  test-transport-mongodb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Start Backbone
        uses: nmshd/start-backbone@latest
        with:
          consumerapi-version: v4.2.6
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm run build:node --workspaces
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.6.0
      - run: npm run test:ci:mongodb --workspace=@nmshd/transport
        env:
          CONNECTION_STRING: mongodb://127.0.0.1:27017
          NMSHD_TEST_BASEURL: http://localhost:5000
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test

  test-transport-ferret:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Start Backbone
        uses: nmshd/start-backbone@latest
        with:
          consumerapi-version: v4.2.6
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm run build:node --workspaces
      - uses: js-soft/ferretdb-github-action@1.0.2
        with:
          ferretdb-telemetry: "enabled"
      - run: npm run test:ci:mongodb --workspace=@nmshd/transport
        env:
          CONNECTION_STRING: mongodb://127.0.0.1:27017
          NMSHD_TEST_BASEURL: http://localhost:5000
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test

  test-transport-loki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Start Backbone
        uses: nmshd/start-backbone@latest
        with:
          consumerapi-version: v4.2.6
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: browser-actions/setup-chrome@latest
      - run: npm ci
      - run: npm run build:node --workspaces
        env:
          BUILD_NUMBER: ${{ github.run_number }}
          COMMIT_HASH: ${{ github.sha }}
      - run: npm run test:ci:lokijs --workspace=@nmshd/transport
        env:
          NMSHD_TEST_BASEURL: http://localhost:5000
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test
